/* This is an example of using Sass, otherwise plain CSS works too*/
@import 'variables';

#welcome-content {
  background-image: url('../images/moroccan-background.png');
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  align-items: center;
  display: flex;
 
  width: 100%;
  justify-content: center;
}

#welcome-inner {
  border-radius: 5px;
  background-color: $primary-background;
  display: flex;
  flex-direction: column;
  height: 35%;
  justify-content: center;
  padding: 20px;
}

#welcome-header {
  font-size: 1.8em;
}

#splash-button {
  border-radius: 2.5px;
  margin: 20px auto;
  height: 50px;
  width: 24%;
}

#splash-button:hover {
  cursor: pointer;
  box-shadow: 2.5px 2.5px #6A543D;
}

html {
  background-image: url('../images/moroccan-background.png');
}

body {
  font-family: $main-font;
  background-color: $primary-background;
  border-radius: 5px;
  margin: 5% auto;
  height: 90vh;
  width: 90vw;
}

.header-content {
  display: flex; 
  justify-content: space-between;
  margin: 10px 5px;
}

h1, 
h2 {
  color: $header-color;
  font-family: $header-font;
}

span {
  color: black;
  font-family: $main-font;
}

.buttons {
  border-radius: 5px;
  background-color: $main-background-color;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px
}

.tabs {
  border-radius: 2.5px;
  height: 50px;
  width: 24%;
}

.tabs:hover {
  cursor: pointer;
  box-shadow: 2.5px 2.5px #6A543D;
}

main {
  padding: 20px;
}

#customer-content {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 25%;
  grid-template-areas: 
  'left right'
  'bottom bottom'
}

#form-search-customer {
  background-color: #C1BAB0;
  border: 1px solid #C1BAB0;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  grid-area: left;
}

#form-new-customer {
  background-color: #C1BAB0;
  border: 1px solid #C1BAB0;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: right;
  padding: 10px;
}

#new-customer-input,
#search-customer-input {
  width: 80%;
  height: 50px;
  border: none;
  border-radius: 2.5px;
  margin: 10px;
  padding-left: 5px;
}

#search-customer-button,
#add-customer-button {
  width: 81%;
  height: 50px;
  border: none;
  border-radius: 2.5px;
}

#search-customer-button:hover,
#add-customer-button:hover {
  cursor: pointer;
  box-shadow: 2.5px 2.5px #6A543D;
}

#customer-information {
  background-color: #C1BAB0;
  grid-area: bottom;
  text-align: center;
}

#hotel-content {
  border: 1px solid;
  width: 50%;
  margin: auto;
  padding: 10px;
}

#bookings-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  'bookingsLeft bookingsRight';
}

.hotel-bookings-content {
  border: 1px solid;
  margin: 10px;
  grid-area: bookingsLeft;
  text-align: center;
}

.user-bookings-content {
  border: 1px solid;
  margin: 10px;
  grid-area: bookingsRight;
  text-align: center;
}